{% extends "layout.html" %}
{% load static %}
{% block title %}
{% endblock title %}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <p>
                    <strong>{{event.name}}</strong> isimli kursu silmek istiyor musunuz?
                    <form action="{% url "event_delete" event.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Evet</button>
                        <a href="{% url "event_list" %}" class="btn btn-primary">Hayır</a>
                    </form>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
