{% extends "layout.html" %}
{% load static %}
{% block title %} Parolamı Unuttum {% endblock title %}
{% block content %}
<div class="container mt-3">
    <div class="col">
        <h3>Yeni parolanızı giriniz</h3>
        <hr>
        <p>Lütfen yeni parolanızı iki kere giriniz bu sayede parolanızı doğrulayabiliriz. </p>
        <form method="POST" novalidate>
            {% csrf_token %}
            
            {% include "partials/_form.html" %}

            <button type="submit" class="btn btn-primary">Parolayı Güncelle</button>
        </form>
    </div>
</div>
{% endblock %}