{% extends "layout.html" %}
{% load static %}
{% block title %} Parolamı Unuttum {% endblock title %}
{% block content %}
<div class="container mt-3">
    <div class="col">
        <h1>Parolamı Unuttum</h1>
        <hr>
        <p>Parolanı mı unuttun? Email adresini gir ve yolladığımız email üzerinden yeni bir tane tanımla.</p>
        <form method="POST" novalidate>
            {% csrf_token %}
            
            {% include "partials/_form.html" %}

            <button type="submit" class="btn btn-primary">Email gönder</button>
        </form>
    </div>
</div>
{% endblock %}